  @media (max-width: 414px) {
  @media only screen and (max-width: 600px) {
    #wrapper {
      width:95%;
      margin: 20px auto;
      } 
    }

  body {
    font-size: 20px;
  }


#wrapper {
  margin: 0;
  padding: 8px;
} 

nav ul{
  display: block;
  margin-right: 0;
  margin-bottom: 8px;
} */

img {
  width: 100%;
  height:auto;
  border: 1px solid #222; */
}


nav li {
  float: left;
  list-style: none;
  background-color: #eee;
  padding: 8px;
  margin-right: 8px;
margin-bottom:8px;
} */
}
