
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;400&display=swap');

body {
  color: #222;
  font-size: 14px;
  font-family: "Roboto", "Lato", sans-serif;
}

figure {
    text-align:center;
}

h1 {
  font-size: 35px;
}

#wrapper {
  max-width:600px;
  margin: 40px auto;
} 

img {
  height:auto;
  width:100%;
}

ul.a {
  list-style-type: circle;
}


caption {
  text-align: left;
}

caption {
  font-weight: bold;
}

/* th {
  text-align: left;
} */

a,
a:link,
a:visited,
a:active {
  color: #005A9C;
}


a:hover {
  color: #3c5aa3;
}

h2 {
  color: #005A9C;
  border-bottom: 1px dotted #3c5aa3;
}

nav ul {
  padding-left: 0;
  overflow: hidden;
}


nav li {
  float: left;
  list-style: none;
  background-color: #eee;
  padding: 8px;
  margin-right: 8px;
}


h2 {
	margin-top: 0;
}


section {
	padding: 10px 0;
}


figure {
  clear: both;
  margin: 10px 0;
}


footer {
  background-color: #eee;
  display: block;
  /* max-width: 600px; */
  vertical-align: top;
  padding: 5px 20px;
}
