
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;400&display=swap');

body{
    color: #222;
    font-size: 14px;
    font-family: "Roboto", "Lato", sans-serif;
}

h1 {
  font-size: 35px;
}


#wrapper {
  max-width: 600px;
  margin: 0 auto;
}


a,
a:link,
a:visited,
a:active {
  color: #be0026;
}


a:hover {
  color: #3c5aa3;
}

h2 {
  color: #be0026 ;
  border-bottom: 1px dotted #3c5aa3;
}

ul {
  padding-left: 0;
}

li {
  float: left;
  list-style: none;
  background-color: #eee;
  padding: 8px;
  margin-right: 8px;
}


h2 {
	margin-top: 0;
}



main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

section {
	padding: 10px;
}

#history {
  clear: both;
}

#population {
  clear: both;
}

figure {
  clear: both;
}
