  @media (max-width: 414px) {

  body {
    font-size: 20px;
  }
}

#wrapper {
  max-width:600px;
  margin: 0;
  padding: 8px;
} 

nav ul{
  display: block;
  margin-right: 0;
  margin-bottom: 8px;
}
